.classpath
.project
.settings
.idea/
*.iml
*.log
*.log.*
*/doc/
dependency-reduced-pom.xml
housingfund-collection/target
*/target
classes
firestorm.*
.DS_Store
out/
/housingfund-collection/src/main/java/com/handge/housingfund/collection/temp/
/housingfund-others/src/main/java/com/handge/housingfund/others/service/review/
!/housingfund-others/src/main/java/com/handge/housingfund/others/service/review/
META-INF.Spring/*
*/.dubbo.xml